<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.STS.webSystem.dao.InternetOrderCustomMapper" >
  <sql id="Base_Column_List">
        oid, state, beginId, beginName, endId, endName, ticNum, price, telephone, verificationCode
  </sql>
  <sql id="Where_Clause">
    <where>
      <if test="query != null and query.state != null and query.state != '' ">
        and state=#{query.state}
      </if>
      <if test="query != null and query.telephone != null and query.telephone != '' ">
        and telephone=#{query.telephone}
      </if>
    </where>
  </sql>

  <select id="selectByPage" resultType="com.STS.webSystem.pojo.po.InternetOrder">
    SELECT
    <include refid="Base_Column_List"/>
    FROM  internetorder
    <include refid="Where_Clause"/>
    LIMIT #{page.offset},#{page.limit}
  </select>

  <select id="countOrders" resultType="_long">
    select count(1)
    from internetorder
    <include refid="Where_Clause"/>
  </select>

</mapper>